<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:include="header">
		<meta charset="utf-8">
	</head>
	<body>
		<div class="container">
			<h1>Cadastro de Marcas</h1>

			<form action="salvar" method="post">
				<div class=form-group>
					<br>
					<div class="row">
						<div class="col-12 col-sm-12">
							<label>Marca:</label>
							<input type="text" class="form-control" id="nome" name="nome" th:value="${marca.nome}"/>
							<br>
						</div>
					</div>
					<input type="hidden" id="id" name="id" th:value="${marca.id}" th:if="${marca != null}">
				</div>
				<div>
				<div class="float-right">
					<a type="button" href="/" class="btn btn-danger">Voltar</a>
					<button type="submit" class="btn btn-primary">Salvar/Atualizar</button>
				</div>
				<br>
				<br>
			</form>

		<div th:include="footer :: copy"></div>
	</div>
	</body>
</html>