<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:include="header">
		<meta charset="utf-8">
	</head>
	<body>
		<div class="container">
			<h1>Cadastro de Veículo</h1>
			<div class="text-right">
				<img th:src="@{'/img/veiculos/'+${veiculo.fotodestaque}}" height="60" width="110"
				class="img-responsive pull-right">
			</div>
			<form action="salvar" method="post" enctype="multipart/form-data">
				<div class=form-group>
					<br>
					<div class="row">
						<div class="col-12 col-sm-6">
							<label>Modelo:</label>
							<input type="text" class="form-control" id="modelo" name="modelo" th:value="${veiculo.modelo}"/>
							<br>
						</div>
						<div class="col-6 col-sm-3">
							<label>Ano Modelo:</label>
							<input type="text" class="form-control" id="anomodelo" name="anomodelo" minlength="4" maxlength="4" min="1980" max="2022" th:value="${#strings.substring(veiculo.anomodelo,0,4)}"/> 
							<br>
						</div>
						<div class="col-6 col-sm-3">
							<label>Ano Fabricação:</label>
						   <input type="text" class="form-control" id="anofabricacao" name="anofabricacao"
						minlength="4" maxlength="4" min="1980" max="2022"
						th:value="${#strings.substring(veiculo.anofabricacao,0,4)}"/> 
							<br>
						</div>
					</div>
					<div class="row">
						<div class="col-4 col-sm-4">
							<label>Valor:</label>
							<input type="number" class="form-control valor" id="valor" name="valor" th:value="${veiculo.valor}" required/>
							<br>
						</div>
						<div class="col-4 col-sm-4">	
							<label>Tipo:</label>
							<select name="tipo" id="tipo" class="form-control" required>
  								<option value="">Selecione Tipo:</option>
   								<option value="1">Cupê</option>
   								<option value="2">Crossover</option>
   								<option value="3">Esportivo</option>
   								<option value="4">Hatch</option>
   								<option value="5">Jipe</option>
   								<option value="6">Picape</option>
   								<option value="7">Sedan</option>
   								<option value="8">SUV</option>
   								<option value="9">Van</option>
   								
							</select>
							<br>
						</div>
						<div class="col-4 col-sm-4">	
							<label>Foto Destaque:</label>
							<input placeholder="IMAGEM" type="file" class="form-control" id="imagemFile" name="imagemFile" required/>
							<br>
						</div>
					</div>
					<div class="row">
						<div class="col-4 col-sm-4">
							<label>Marca:</label>
							<select name="marca_id" id="marca_id" class="form-control" required>
  								<option value="">Selecione a Marca:</option>
   								<option th:each="m : ${marcas}" th:value="${m.id}" th:text="${m.nome}"
   								th:selected="${marca_id} == ${m.id}"></option>
							</select>
							<br>
						</div>
						<div class="col-4 col-sm-4">	
							<label>Cor:</label>
							<select name="cor_id" id="cor_id" class="form-control" required>
  								<option value="">Selecione a Cor:</option>
   								<option th:each="c : ${cores}" th:value="${c.id}" th:text="${c.nome}"></option>
							</select>
							<br>
						</div>
						<div class="col-4 col-sm-4">	
							<label>Usuário:</label>
							<select name="usuario_id" id="usuario_id" class="form-control" required>
  								<option value="">Selecione o Usuário:</option>
   								<option th:each="u : ${usuarios}" th:value="${u.id}" th:text="${u.nome}"></option>
							</select>
							<br>
						</div>
					</div>
					<div class="row">
						<div class="col-12 col-sm-12">
							<label>Opcionais:</label>
							<input type="text" class="form-control" id="opcionais" name="opcionais" th:value="${veiculo.opcionais}"/>
							<br>
						</div>
					</div>		
					<input type="hidden" id="id" name="id" th:value="${veiculo.id}" th:if="${veiculo != null}">
				</div>
				<div class="float-right">
					<a type="button" href="/" class="btn btn-danger">Voltar</a>
					<button type="submit" class="btn btn-primary">Salvar/Atualizar</button>
				</div>
				<br>
				<br>
			</form>

		<div th:include="footer :: copy"></div>
	</div>
	</body>
</html>
<script src="sweetalert2.min.js"></script>
<link rel="stylesheet" href="sweetalert2.min.css">
<script>
if('${usuarios}' == 'showAlert'){
	Swal.fire({
		  icon: 'success',
		  title: 'Sucesso!',
		  text: 'Veículo cadastrado com successo',
		})

</script>


