<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:include="header">
		<meta charset="utf-8">
	</head>
	<body>
		<div class="container">
			<h1>Cadastro de Veículo</h1>

			<form action="salvar" method="post" enctype="multipart/form-data">
				<div class=form-group>
					<br>
					<div class="row">
						<div class="col-12 col-sm-6">
							<label>Modelo:</label>
							<input type="text" class="form-control" id="modelo" name="modelo" th:value="${veiculo.modelo}"/>
							<br>
						</div>
						<div class="col-6 col-sm-3">
							<label>Ano Modelo:</label>
							<select name="anomodelo" id="anomodelo" class="form-control">
  								<option value="">Selecione o Ano</option>
   								<option value="2022">2022</option>
   								<option value="2021">2021</option>
   								<option value="2020">2020</option>
   								<option value="2019">2019</option>
   								<option value="2018">2018</option>
   								<option value="2017">2017</option>
   								<option value="2016">2016</option>
   								<option value="2015">2015</option>
   								<option value="2014">2014</option>
   								<option value="2013">2013</option>
   								<option value="2012">2012</option>
   								<option value="2011">2011</option>
   								<option value="2010">2010</option>
   								<option value="2009">2009</option>
   								<option value="2008">2008</option>
   								<option value="2007">2007</option>
   								<option value="2006">2006</option>
   								<option value="2005">2005</option>
   								<option value="2004">2004</option>
   								<option value="2003">2003</option>
   								<option value="2002">2002</option>
   								<option value="2001">2001</option>
   								<option value="2000">2000</option>
   								<option value="1999">1999</option>
   								<option value="1998">1998</option>
   								<option value="1997">1997</option>
   								<option value="1996">1996</option>
   								<option value="1995">1995</option>
   								<option value="1994">1994</option>
   								<option value="1993">1993</option>
   								<option value="1992">1992</option>
   								<option value="1991">1991</option>
   								<option value="1990">1990</option>
							</select>
							<br>
						</div>
						<div class="col-6 col-sm-3">
							<label>Ano Fabricação:</label>
						    <select name="anofabricacao" id="anofabriacao" class="form-control">
  								<option value="">Selecione o Ano</option>
   								<option value="2022">2022</option>
   								<option value="2021">2021</option>
   								<option value="2020">2020</option>
   								<option value="2019">2019</option>
   								<option value="2018">2018</option>
   								<option value="2017">2017</option>
   								<option value="2016">2016</option>
   								<option value="2015">2015</option>
   								<option value="2014">2014</option>
   								<option value="2013">2013</option>
   								<option value="2012">2012</option>
   								<option value="2011">2011</option>
   								<option value="2010">2010</option>
   								<option value="2009">2009</option>
   								<option value="2008">2008</option>
   								<option value="2007">2007</option>
   								<option value="2006">2006</option>
   								<option value="2005">2005</option>
   								<option value="2004">2004</option>
   								<option value="2003">2003</option>
   								<option value="2002">2002</option>
   								<option value="2001">2001</option>
   								<option value="2000">2000</option>
   								<option value="1999">1999</option>
   								<option value="1998">1998</option>
   								<option value="1997">1997</option>
   								<option value="1996">1996</option>
   								<option value="1995">1995</option>
   								<option value="1994">1994</option>
   								<option value="1993">1993</option>
   								<option value="1992">1992</option>
   								<option value="1991">1991</option>
   								<option value="1990">1990</option>
							</select>
							<br>
						</div>
					</div>
					<div class="row">
						<div class="col-4 col-sm-4">
							<label>Valor:</label>
							<input type="number" class="form-control" id="valor" name="valor" th:value="${veiculo.valor}"/>
							<br>
						</div>
						<div class="col-4 col-sm-4">	
							<label>Tipo:</label>
							<select name="tipo" id="tipo" class="form-control" required>
  								<option value="">Selecione Tipo:</option>
   								<option value="1">Cupê</option>
   								<option value="2">Crossover</option>
   								<option value="3">Esportivo</option>
   								<option value="4">Hatch</option>
   								<option value="5">Jipe</option>
   								<option value="6">Picape</option>
   								<option value="7">Sedan</option>
   								<option value="8">SUV</option>
   								<option value="9">Van</option>
   								
							</select>
							<br>
						</div>
						<div class="col-4 col-sm-4">	
							<label>Foto Destaque:</label>
							<input type="file" placeholder="IMAGEM" class="form-control" id="imagem" name="imagem" th:value="${veiculo.fotodestaque}"/>
							<br>
						</div>
					</div>
					<div class="row">
						<div class="col-4 col-sm-4">
							<label>Marca:</label>
							<select name="marca_id" id="marca_id" class="form-control">
  								<option value="">Selecione a Marca:</option>
   								<option th:each="m : ${marcas}" th:value="${m.id}" th:text="${m.nome}"></option>
							</select>
							<br>
						</div>
						<div class="col-4 col-sm-4">	
							<label>Cor:</label>
							<select name="cor_id" id="cor_id" class="form-control">
  								<option value="">Selecione a Cor:</option>
   								<option th:each="c : ${cores}" th:value="${c.id}" th:text="${c.nome}"></option>
							</select>
							<br>
						</div>
						<div class="col-4 col-sm-4">	
							<label>Usuário:</label>
							<select name="usuario_id" id="usuario_id" class="form-control">
  								<option value="">Selecione o Usuário:</option>
   								<option th:each="u : ${usuarios}" th:value="${u.id}" th:text="${u.nome}"></option>
							</select>
							<br>
						</div>
					</div>
					<div class="row">
						<div class="col-12 col-sm-12">
							<label>Opcionais:</label>
							<input type="text" class="form-control" id="opcionais" name="opcionais" th:value="${veiculo.opcionais}"/>
							<br>
						</div>
					</div>		
					<input type="hidden" id="id" name="id" th:value="${veiculo.id}" th:if="${veiculo != null}">
				</div>
				<div class="float-right">
					<button type="submit" class="btn btn-primary">Salvar</button>
				</div>
				<br>
				<br>
			</form>

		<div th:include="footer :: copy"></div>
	</div>
	</body>
</html>