<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:include="header">
		<meta charset="utf-8">
	</head>
	<body>
		<div class="container">
			<h1>Cadastro de Funcionário</h1>
			<div class="form-group">
				<a href="/"><h1>voltar</h1></a>
			</div>

			<form action="salvar" method="post">
				<div class=form-group>
					<br>
					<label>Nome Funcionário</label>
					<input type="text" class="form-control" id="nome" name="nome" th:value="${funcionario.nome}"/>
					<br>
					<label>CPF</label>
					<input type="text" class="form-control" id="cpf" name="cpf" th:value="${funcionario.cpf}"/>
					<br>
					<label>Salário</label>
					<input type="text" class="form-control" id="salario" name="salario" th:value="${funcionario.salario}"/>
					<br>
					<label>Data Nascimento</label>
					<input type="date" class="form-control" id="dataNascimento" name="dataNascimento" th:value="${#temporals.format(funcionario.dataNascimento,'yyyy-MM-dd')}"/>
					
					<samp th:text="${signo}" th:if="${funcionario != null}"></samp>
					
					<input type="hidden" id="id" name="id" th:value="${funcionario.id}" th:if="${funcionario != null}">
				</div>
				<button type="submit" class="btn btn-primary">Salvar</button>
			</form>

		<div th:include="footer :: copy"></div>
	</div>
	</body>
</html>