<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="header">
<meta charset="utf-8">
</head>
<body>
	<div class="container">
	<input hidden th:value="${mensagem}" id="message">
		<h1>Lista de Cores</h1>

		<table class="table table-striped table-bordered table-hover">
			<thead>
				<tr>
					<th width="10%">Id</th>
					<th width="20%">Cor</th>
					<th width="10%">Status</th>
					<th width="10%">Ações</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="c : ${cores}">
					<td th:text="${c.id}"></td>
					<td th:text="${c.nome}"></td>
					<td><span class='badge badge-danger' th:unless="${c.status} == true">Inativo</span>
						<span class='badge badge-success' th:unless="${c.status} == false">Ativo</span></td>
					<td><a th:href="@{editar/(id=${c.id})}" class="btn btn-success btn-sm">
                            <i class="fas fa-edit"></i>
                         </a>
                         <button type="button" class="btn btn-success btn-sm" th:onclick="javascript:location.href=[[@{ativar/(id=${c.id})}]]">Ativar</button>
                         <button type="button" class="btn btn-danger btn-sm" th:onclick="javascript:location.href=[[@{inativar/(id=${c.id})}]]">Inativar</button>
                         

                        <!-- <a th:href="@{excluir/(id=${c.id})}" class="btn btn-danger btn-sm">
                           <i class="fas fa-trash"></i>
                        </a>-->
                   </td>
				</tr>
			</tbody>
		</table>

		<div th:include="footer :: copy"></div>
	</div>
</body>
</html>
<script>
function mudaStatus(id) {
	  // Pega o Checkbox
	  var checkBox = document.getElementById("statusCheck");

	  // If the checkbox is checked, display the output text
	  if (checkBox.checked == true || checkBox.checked == false){
				location.href="excluir/cor/"+id;
		}
	} 

if(document.getElementById('message').value == 1 ){
	Swal.fire({
		  icon: 'success',
		  title: 'Successo',
		  text: 'Cor inserida com successo'
		})
} else if(document.getElementById('message').value == 2 ) {
	Swal.fire({
		  icon: 'success',
		  title: 'Successo',
		  text: 'Cor atualizada com successo'
		})
}
</script>