<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="header">
<meta charset="utf-8">
</head>
<body>
	<div class="container">
		<input hidden th:value="${mensagem}" id="message">
		<h1>Lista de Usuários</h1>

		<table class="table table-striped table-bordered table-hover">
			<thead>
				<tr>
					<th width="10%">Id</th>
					<th width="10%">Nome</th>
					<th width="10%">Login</th>
					<th width="10%">Status</th>
					<th width="10%">Ações</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="u : ${usuarios}">
					<td th:text="${u.id}"></td>
					<td th:text="${u.nome}"></td>
					<td th:text="${u.login}"></td>
					<td><span class='badge badge-danger' th:unless="${u.status} == true">Inativo</span>
						<span class='badge badge-success' th:unless="${u.status} == false">Ativo</span></td>
					<td><a th:href="@{editar/(id=${u.id})}" class="btn btn-success btn-sm">
                            <i class="fas fa-edit"></i>
                         </a>
                          <button type="button" class="btn btn-success btn-sm" th:onclick="javascript:location.href=[[@{ativar/(id=${u.id})}]]">Ativar</button>
                         <button type="button" class="btn btn-danger btn-sm" th:onclick="javascript:location.href=[[@{inativar/(id=${u.id})}]]">Inativar</button>
                        <!--  -<a th:href="@{excluir/(id=${u.id})}" class="btn btn-danger btn-sm">
                           <i class="fas fa-trash"></i>
                        </a>-->
                   </td>
				</tr>
			</tbody>
		</table>

		<div th:include="footer :: copy"></div>
	</div>
</body>
</html>
<script>
if(document.getElementById('message').value == 1 ){
	Swal.fire({
		  icon: 'success',
		  title: 'Successo',
		  text: 'Usuário inserido com successo'
		})
} else if(document.getElementById('message').value == 2 ) {
	Swal.fire({
		  icon: 'success',
		  title: 'Successo',
		  text: 'Usuário atualizado com successo'
		})
}
</script>