<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="header :: head">
	<meta charset="utf-8">
</head>
<body>
	<div class="container">
		<h1>Zodiaco</h1>
		<div class="form-group">
		
			<label>Nome:</label>
			<samp th:text="${nome}"></samp>
			<br /> <label>Sobrenome:</label>
			<samp th:text="${sobreNome}"></samp>
			<br /> <label>Data Nascimento:</label>
			<samp th:text="${dataNascimento}"></samp>
			<br /> <label>Signo:</label>
			<samp th:text="${signo}"></samp>
			<br /> <label>Elemento:</label>
			<samp th:text="${elemento}"></samp>
		</div>
		<div class="form-group">
			<a href="/"><h1>voltar</h1></a>
		</div>
		<div th:include="footer :: copy"></div>
	</div>	
</body>
</html>