<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="header"></head>

<body>
		      <!-- Content Row -->
                    <div class="row">
                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-2 col-md-6 mb-4">
<iframe src="http://localhost:3000/d-solo/kgPFea6Mz/dashboard-oscarrinhos?orgId=1&refresh=5s&from=1623002601990&to=1623024201990&panelId=2" width="100%" height="100%"></iframe>
                        </div>

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-4 col-md-6 mb-4">
							<iframe src="http://localhost:3000/d-solo/kgPFea6Mz/dashboard-oscarrinhos?orgId=1&refresh=5s&from=1623002923167&to=1623024523167&panelId=4" width="100%" height="100%" frameborder="0"></iframe>
                        </div>

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-4 col-md-6 mb-4">
							<iframe src="http://localhost:3000/d-solo/kgPFea6Mz/dashboard-oscarrinhos?orgId=1&refresh=5s&from=1623003038152&to=1623024638152&panelId=5" width="100%" height="100%" frameborder="0"></iframe>
                        </div>

                        <!-- Pending Requests Card Example -->
                        <div class="col-xl-2 col-md-6 mb-4">
							<iframe src="http://localhost:3000/d-solo/kgPFea6Mz/dashboard-oscarrinhos?orgId=1&refresh=5s&from=1623003137760&to=1623024737761&panelId=6" width="100%" height="100%" frameborder="0"></iframe>
                        </div>
                    </div>
                    <div class="row">
                    	<div class="col-xl-12 col-md-12 mb-12">
                    		<iframe src="http://localhost:3000/d-solo/kgPFea6Mz/dashboard-oscarrinhos?orgId=1&refresh=5s&from=1623003352992&to=1623024952992&panelId=8" width="100%" height="600px" frameborder="0"></iframe>
                    	</div>
                    </div>

                    <!-- Content Row -->
		
		<div th:include="footer :: copy"></div>
	</div>
</body>
</html>