<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="header :: head">
<meta charset="utf-8">
</head>
<body>
	<div class="container">
		<h1>Holerite</h1>
		<div class="form-group">
			<a href="/"><h1>voltar</h1></a>
		</div>
		
		<h3>
			<samp th:text="${folha.funcionario.nome}"></samp>
		</h3>
		
		<h4>
			<label>Competência: &nbsp </label>
			<samp th:text="${#temporals.format(folha.competencia,'dd/MM/yyyy')}"></samp><br/>
			
			<label>Proventos: &nbsp</label>
			<samp th:text="${folha.totalProventos}"></samp><br/>
		
			<label>Descontos: &nbsp</label>
			<samp th:text="${folha.totalDescontos}"></samp><br/>
		</h4>
			
		<table class="table table-striped table-bordered table-hover">
			<thead>
				<tr>
					<th>Código</th>
					<th>Descrição</th>
					<th>Referencia</th>
					<th>Valor</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="itemFolha : ${folha.eventos}">
					<td th:text="${itemFolha.evento.codigo}"></td>
					<td th:text="${itemFolha.evento.descricao}"></td>
					<td th:text="${itemFolha.referencia}"></td>
					<td th:text="${itemFolha.valor}"></td>
				</tr>
			</tbody>
		</table>
		
		
		
		<div th:include="footer :: copy"></div>
	</div>
</body>
</html>