<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:include="header :: head">
		<meta charset="utf-8">
	</head>
	<body>
		<div class="container">
			<h1>Rotina de Cálculo Folha de Pagamento</h1>
			<div class="form-group">
				<a href="/"><h1>voltar</h1></a>
			</div>
			
			<form action="calcular" method="post">
				<div class=form-group>
				
					<label>Funcionário</label>
					<input type="text" class="form-control" id="idFuncionario" name="idFuncionario"/>
					
					<label>Competencia</label>
					<input type="date" class="form-control" id="competencia" name="competencia"/>
					
					<label>Dias Trabalhado</label>
					<input type="number" class="form-control" id="dias" name="dias"/>
				</div>
				<button type="submit" class="btn btn-primary">Calcular</button>
			</form>
			
			<div th:include="footer :: copy"></div>
		</div>
</body>
</html>